* {
    margin: 0;
    padding: 0;
}

nav a , ul{
    text-decoration: none;
    list-style: none;
    color: black;
}

nav, ul {
    display: flex;
    justify-content: space-between;
}

.navbar-links li{
     padding: 0 40px;
}

nav {
    border: 2px solid black;
    padding: 30px 15px;
}

.navbar-btn button {
     margin-right: 10px;
     border: 2px solid green;
     border-radius: 7px;
     width: 80px;
    height: 30px;
}